body {
    background-color:#333333;
}
#canvas {
    min-height: 90%;
    max-width:98%;
    margin:auto;
    display:block;
}
#message {
    max-height:10%;
    font-family:Courier;
    font-size:12px;
    color:#ffffff;
}
