body {
    background-color:#151515;
}
#canvas {
    min-height: 90%;
    max-width:98%;
    margin:auto;
    display:block;
}
#message {
    font-family:Courier;
    font-size:12px;
    color:#ffffff;
}
.label {
    font-family: Futura;
    font-size:12px;
    color:#ffffff;
}
input {
    box-shadow: none;
    border-width:1px;
}

