#canvas {
    min-height: 90%;
    max-width:98%;
    margin:auto;
    display:block;
}
#message {
    font-family:Courier;
    font-size:12px;
}
.label {
    font-family: Futura;
    font-size:12px;
}

input {
    width:100%;
}
input[type="range"] {
    -webkit-appearance:none;
    height:1px;
    background-image:linear-gradient(#ff0000, #ff0000);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    height:20px;
    width:1px;
    background:#ff0000;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #dddddd;
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
        color: white;
    }
}
